.nav-links a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
}

/* Make text white when parent has bg-primary-light class */
.bg-primary-light a {
    color: white;
}

/* Hamburger button styles */
.hamburger-line {
    width: 29px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: all 0.3s ease;
}

/* Animation for hamburger to X */
.open .hamburger-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.open .hamburger-line:nth-child(2) {
    opacity: 0;
}

.open .hamburger-line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
}