---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import HeroSection from "../components/HeroSection.astro";
import BodyText from "../components/BodyText.astro";
import bg from "../assets/headshot.jpg";
---

<Layout>  
  <HeroSection image={bg} altText="Candidate Photo" />
  <div class="-mt-20">
    <BodyText>
      <p>
        Thank you for visiting my Campaign Website!<br/>
        My name is Danielle Havens, and I am running for Federal Way Municipal Court Judge, Position 2.<br/>
        As judge, I will create a safe and respectful courtroom where all voices are heard, people find accountability, learn from their experiences and grow toward a better version of themselves.<br/>
        For four years, I have served in hundreds of cases as judge pro tempore in district and municipal courts around King and Pierce Counties, which prepared me well to become an elected judge.<br/>
        I am excited to serve as judge because Federal Way has a strong, busy municipal court that plays an important role in addressing crime that we're all concerned about.<br/>
        As municipal court judge, I will:
        <ul class="list-disc pl-6 my-4">
          <li>Get to know the members of our community and help them to change their choices and behaviors so that they can be successful and engaged residents of our region.</li>
          <li>Make a positive and lasting impact on the lives of those having their first contacts with the justice system.</li>
          <li>Partner with the police department and other community stakeholders to take on the challenges we face, to make our community a safe place where everyone can thrive.</li>
          <li>Continue my track record of building strong, trusting relationships with our talented prosecutors and defense attorneys, skilled and wise court staff, our knowledgeable and professional probation team, and all court professionals.</li>
        </ul>
        In my current role as judge pro tempore, I command respect while holding people accountable with patience and grace. The way I manage the courtroom increases faith in the justice system and helps everyone feel safe in our communities.<br/>
        I will continue to do so as your municipal court judge.<br/><br/>
        Thank you for your vote,<br/>
        Danielle R. Havens
      </p>
    </BodyText>
  </div>
</Layout>
