---
import Image from "astro/components/Image.astro";

interface Props {
  backgroundImage?: string;
  image: ImageMetadata;
  altText: string;
}

const { image, altText } = Astro.props;
---

<section
  class="bg-primary-light flex justify-center"
>
  <Image src={image} alt={altText} class="w-96" />
</section>